.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #3d3d3d radial-gradient(circle, transparent 1%, #3d3d3d 1%) center/15000%;
}
.ripple:active {
  background-color: #3d3d3d;
  background-size: 100%;
  transition: background 0s;
}
.column-check{
  text-align: left;
}

table{
  border-radius: 10px;
  text-align: center;
  width: 100%;
	display: grid;
	overflow: auto;
} 
table thead,
table tbody,
table tr {
	display: contents;
}

table th {
	position: relative;
	font-size: 18px;
}

table th,
table td {
	text-align: left;
	padding: 16px;
	min-width: 20px;
}

table th span,
table td span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

table tr td {
	border-top: 1px solid #ccc;
}


.resize-handle {
	display: block;
	position: absolute;
	cursor: col-resize;
	width: 7px;
	right: 0;
	top: 0;
	z-index: 1;
	border-right: 2px solid transparent;
}

.resize-handle:hover {
	border-color: #ccc;
}

.resize-handle.active {
	border-color: #517ea5;
}
