:root{
  /**********Colors********/
  --primary: #000000;
  --light: #ffffff;
  --border-gold: #978145;
  --hover-select: #9d9b9b;


  /******Times animation********/
  --time-animation-menu: 1s;
  --time-animation-options: 0.5s;

  /*********Size devices*********/
  --mobile-sm: 364px;
  --mobile-md: 576px;
  --tablets-sm: 992px;
  --tablets-xl: 1200px;


}


.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #3d3d3d radial-gradient(circle, transparent 1%, #3d3d3d 1%) center/15000%;
}
.ripple:active {
  background-color: #3d3d3d;
  background-size: 100%;
  transition: background 0s;
}
.column-check{
  text-align: left;
}


.table-wrapper {
	margin-bottom: 25px;
	border-radius: 6px;
	background: #fff;
	overflow: hidden; /* Clip any scrollbars that appear */
}

table{
  border-radius: 10px;
  //border-collapse: collapse;
  text-align: center;
  width: 100%;
	display: grid;
	overflow: auto;
  
/*   th{
    border-top: 1px solid var(--border-gold);
    padding: 0.5rem 0.2rem;
  }
  tr{    
    border-bottom: 1px solid var(--border-gold);
  }
  td{
    padding: 0.2rem;
    font-size: 0.9rem;
  } */
  
} 



table thead,
table tbody,
table tr {
	display: contents;
}

table th {
	position: relative;
	font-size: 18px;
}

table th,
table td {
	text-align: left;
	padding: 16px;
	min-width: 20px;
}

table th span,
table td span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

table tr td {
	border-top: 1px solid #ccc;
}


.resize-handle {
	display: block;
	position: absolute;
	cursor: col-resize;
	width: 7px;
	right: 0;
	top: 0;
	z-index: 1;
	border-right: 2px solid transparent;
}

.resize-handle:hover {
	border-color: #ccc;
}

.resize-handle.active {
	border-color: #517ea5;
}
