.input[type="checkbox"]{
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
  position: relative;
}
.input[type="checkbox"]:checked{
  accent-color: var(--primary);
  border: 1px solid var(--primary);
}

.input[type=checkbox]:indeterminate::before {
  content: "";
  display: block;
  color: white;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 4px;
  border: 1px solid var(--primary);
  background-color: var(--primary);  
}
.input[type=checkbox]:indeterminate::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 2px 0 0 0;
  position: absolute;
  top: 9px;
  left: 5px;
}